body{
    background-image: url(bg2.jpg);
}
form{
    margin-left: 620px;
    margin-top: 60px;
}
input{
    border: none;
    background: none;
    outline: none;
    border-bottom-style: solid;
    border-radius: 0%;
    border-bottom-width: 5px;
}