*{
    margin: 0px;
    padding: 0px;
}
.obox{
    border: solid 1px;
    height: 550px;
    background-image: url(bg3.jpg);
    background-repeat: no-repeat;
    background-size: 1278px 550px;
}
#in1{
    border: solid 1px hidden;
    height: 50px;
}
#in2{
    border: solid 1px hidden;
    height: 498px;
}
ul li{
    border: solid 1px hidden;
    height: 50px;
    width: 160px;
    float: left;
    text-align: center;
    line-height: 50px;
    border-radius: 20px;
}
ul{
    list-style: none;
}
ul li a{
    color: wheat;
    font-size: 22px;
    text-decoration: none;
    font-weight: bold;
}
ul li:hover{
    background-color: red;
}
h1{
    color: red;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    margin-top: 150px;
}
p{
    text-align: center;
    color: beige;
    font-size: 40px;
    font-weight: bold;
}