body{
    background-image: url(bg1.webp);
    background-repeat: no-repeat;
    background-size: 1280px 588px;
}
form{
    border: solid 1px;
    width: 450px;
    margin-left: 50px;
    padding-left: 10px;
}
h1{
    text-align: center;
    font-size: 40px;
    color: red;
}
label{
    font-size: 23px;
    font-weight: bold;
    color: navy;
}
input{
    height: 30px;
    width: 300px;
    border-radius: 20px;
    margin-bottom: 10px;
}
button{
    height: 50px;
    width: 150px;
    background-color: #e00a7c;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
button:hover{
    background-color: cornflowerblue;
}
p{
    color: brown;
    font-size: 22px;
    font-weight: bold;
}